/* Write your code here */

.bg-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrows-cont {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
